name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build-cpu:
    runs-on: ubuntu-latest
    container: mbianco/ghex:gcc-9

    steps:
      - uses: actions/checkout@v1
      - name: Configure
        run: |
          echo "WORKFLOW"
          export SHLVL=1
          env
          ulimit -a
          ipcs -lm
          df
          cat /proc/cpuinfo
          mkdir -p build && cd build
          eckit_DIR=/opt/eckit Atlas_DIR=/opt/atlas cmake .. -DUCX_DIR=/usr/local -DCMAKE_BUILD_TYPE=Debug -DGHEX_ENABLE_ATLAS_BINDINGS=ON -DGHEX_USE_UCP=ON -DGHEX_BUILD_FORTRAN=ON -DCMAKE_Fortran_FLAGS="-cpp -ffree-line-length-none -fcoarray=single" -DGHEX_BUILD_TESTS=ON -DGHEX_BUILD_BENCHMARKS=ON -DMPIEXEC_PREFLAGS=-oversubscribe
      - name: Build
        run: cmake --build build --parallel 2
      - name: Execute tests
        run: cd build && export SHLVL=1 && export OMPI_ALLOW_RUN_AS_ROOT=1 && export OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 && env && ctest

  build-gpu-amd:
    runs-on: ubuntu-latest
    container: mbianco/ghex-gpu-amd:gcc-9

    steps:
      - uses: actions/checkout@v1
      - name: Configure
        run: |
          echo "WORKFLOW"
          export SHLVL=1
          env
          ulimit -a
          ipcs -lm
          df
          cat /proc/cpuinfo
          mkdir -p build && cd build
          cmake .. -DUSE_GPU=ON -DUCX_DIR=/opt/ucx -DCMAKE_BUILD_TYPE=Debug -DGHEX_USE_UCP=ON -DGHEX_BUILD_TESTS=ON -DGHEX_BUILD_BENCHMARKS=ON
      - name: Build
        run: cmake --build build --parallel 2

  build-gpu-nvidia:
    runs-on: ubuntu-latest
    container: mbianco/ghex-gpu-nvidia:gcc-9

    steps:
      - uses: actions/checkout@v1
      - name: Configure
        run: |
          echo "WORKFLOW"
          export SHLVL=1
          env
          ulimit -a
          ipcs -lm
          df
          cat /proc/cpuinfo
          mkdir -p build && cd build
          cmake .. -DUSE_GPU=ON -DUCX_DIR=/opt/ucx -DCMAKE_BUILD_TYPE=Debug -DGHEX_USE_UCP=ON -DGHEX_BUILD_TESTS=ON -DGHEX_BUILD_BENCHMARKS=ON
      - name: Build
        run: cmake --build build --parallel 2
